<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<%= @user.firstName %>'s annonces</h4>
<%= render 'annonce', obj: @user_annonces %>
<%= will_paginate @user_annonces %>