<% if @annonce.user %>
<h1><%= link_to "#{@annonce.user.firstName} #{@annonce.user.lastName}", user_path(@annonce.user) %></h1>
<p><%= pluralize(@annonce.user.annonces.count, "Annonce") if @annonce.user.annonces %></p>
<p><%= "Contact: #{@annonce.user.email}" %></p>
<% end %>
<p>
<% @annonce.imgs.each do |element| %>
<%= image_tag element.url().to_s %>
<% end %>
</p>
<p>
  <strong>Marque:</strong>
  <%= @annonce.marque %>
</p>

<p>
  <strong>Modele:</strong>
  <%= @annonce.modele %>
</p>

<p>
  <strong>Couleur:</strong>
  <%= @annonce.couleur %>
</p>

<p>
  <strong>Model year:</strong>
  <%= @annonce.model_year %>
</p>

<p>
  <strong>Price:</strong>
  <%= @annonce.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @annonce.description %>
</p>

<p>
  <strong>Carburant:</strong>
  <%= @annonce.carburant %>
</p>

<p>
  <strong>Boite vitesse:</strong>
  <%= @annonce.boite_vitesse %>
</p>
<% if logged_in? && current_user == @annonce.user %>
<%= link_to 'Edit', edit_annonce_path(@annonce), class: "btn btn-xs btn-primary" %>
<%= link_to 'Delete', annonce_path(@annonce), method: :delete,
data: { confirm: "Etes vous sure?"}, class: "btn btn-xs btn-danger" %>
<% end %>
